* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

body {
    font-family: 'Muli';
}

::selection {
    color: white;
    background-color: #e3ba67;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

#services {
    margin: 50px 0;
}

#services h1 {
    font-size: 40px;
    color: #333333;
    text-transform: capitalize;
    padding: 0 0 30px;
    position: relative;
    margin-bottom: 30px;
}


/* #services h1::selection{
    color: white;
    background-color: #e3ba67;
} */

#services h1::after {
    content: '';
    height: 2px;
    width: 5%;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #e3ba67;
    transform: translate(-50%, 0);
}

#services p {
    font-size: 18px;
    color: #808080;
    max-width: 560px;
    margin: auto;
    line-height: 25px;
}


/* #services p::selection{
    color: white;
    background-color: #e3ba67;
} */

#services .icons {
    margin: 50px 0 0;
}

#services .icons .content {
    width: 90%;
    margin: auto;
}

#services .icons .content img {
    max-width: 100%;
    padding: 15px;
}

#services .icons .content .image {
    background-color: #e8ecf1;
    border: 35px solid #f5f6f8;
    border-radius: 50%;
    width: 220px;
    margin: auto;
}

#services .icons .content h2 {
    font-size: 24px;
    margin: 20px 0 10px;
    text-transform: capitalize;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 700;
}

#services .icons .content h2 a {
    transition: all 0.3s;
}

#services .icons .content h2 a:hover {
    color: #e3ba67;
    transition: all 0.3s;
}

#services .icons .content p {
    width: 100%;
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: scale(1.06);
        opacity: 0.8;
    }
    40% {
        transform: scale(1.12);
        opacity: 0.6;
    }
    60% {
        transform: scale(1.18);
        opacity: 0.4;
    }
    80% {
        transform: scale(1.24);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

#services .icons .content:hover .image {
    animation-name: scale;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

#services .more {
    margin: 50px 0;
    text-align: center;
}

#services .more .button {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    height: 50px;
    width: 16%;
    margin: auto;
    line-height: 50px;
    background: #e3ba67;
    border-radius: 25px;
    letter-spacing: 1px;
    box-shadow: -5px 0 10px rgba(227, 186, 103, 0.4);
    transition: all 0.5s;
}

#services .more .button:hover{
    color: #333333;
    transition: all 0.09s;
}